/* .rbc-day-slot .rbc-event,
.rbc-day-slot .rbc-background-event {
  background: rgba(72, 74, 158, 0.3);
  color: black;
  border: none;
  border-radius: 0px;
}

.rbc-event.rbc-selected,
.rbc-day-slot .rbc-selected.rbc-background-event {
  background-color: rgba(72, 74, 158, 0.3);
}

.rbc-event,
.rbc-day-slot .rbc-background-event {
  background-color: rgba(72, 74, 158, 0.3);
  color: black;
  z-index: 5;
  border: none;
}

.rbc-day-slot .rbc-events-container {
  margin-right: 0px;
  /* z-index: 5; */
/* margin-left:5px; 
}

.rbc-weekday-slot {
  /* position: relative; 
}
.rbc-time-slot {
  position: relative;
  z-index: 2;
}
.rbc-event .rbc-mark-busy {
  position: absolute;
  top: -5px;
  left: -5px;
  width: 140px;
  display: inline;
  padding: 10px;
  opacity: 0;
  font-size: 14px;
  font-weight: 600;
  text-align: center !important;
}
.rbc-event .rbc-event-google {
  background-color: #fbf1ef;
}
.rbc-event:hover .rbc-mark-busy {
  display: flex;
  opacity: 1;
  /* background: white; 
  height: 100%;
}
.rbc-event:hover {
  background: white;
}
.rbc-event .rbc-event-title {
  opacity: 1;
  font-weight: 600;
  font-size: 14px;
  padding: 10px;
}
.rbc-event:hover .rbc-event-title {
  opacity: 0;
  /* display: none; 
}

.rbc-time-slot .rbc-mark-available {
  opacity: 0;
  display: flex;
  position: absolute;
  left: 0px;
  width: 100%;
  max-height: 30px;
  overflow-y: hidden;
  top: 0px;
  padding: 5px;
  cursor: pointer;
  /* padding-bottom: 10px;
  padding-top: 10px; 
  background-color: rgba(72, 74, 158, 0.3);
  /* color:#515151; 
  font-size: 14px;
  font-weight: 600;
  height: inherit;
}

.rbc-day-slot .rbc-time-slot {
  border-top: none;
}
.rbc-current-time-indicator {
  height: 5px;
}

.rbc-time-gutter.rbc-time-column:hover .rbc-mark-available {
  opacity: 0 !important;
  cursor: default;
}
.disabled-day:hover .rbc-mark-available {
  opacity: 0 !important;
  cursor: default;
}
.rbc-time-slot:hover .rbc-mark-available {
  opacity: 1;
}
/* .rbc-mark-available:hover {
  opacity: 1;
} 

.days {
  display: flex;
  /* content: "Mark As Available " ;
}
.rbc-allday-cell {
  display: none;
  visibility: hidden;
}
.rbc-timeslot-group {
  min-height: 60px;
}

.rbc-time-view {
  border: none;
  border-top: 1px solid rgba(203, 198, 198, 1);
}

.rbc-date-cell {
  padding: 8px;
  font-weight: 600;
  text-align: left;
  color: #1f1f1f;
  font-size: 14px;
}
.rbc-date-cell.rbc-now > a {
  background-color: #484a9e;
  color: white;
  border-radius: 50%;
  padding-top: 4px;
  padding-left: 8px;
  padding-right: 8px;
  padding-bottom: 6px;
  font-weight: 600;
}
.rbc-header {
  height: 72px;
  border-bottom: none;
}
.rbc-event-label {
  display: none;
}

.rbc-label {
  font-weight: 600;
}

.rbc-header.rbc-today {
  background-color: #484a9e;
  /* color: white; */
/* color: white; */
/* border-radius: 50%;
  padding-top: 4px;
  padding-left: 8px;
  padding-right: 8px;
  padding-bottom: 6px;
  font-weight: 600; 
}

.rbc-off-range-bg {
  background-color: rgba(184, 184, 184, 0.1);
} */

.rbc-event {
  padding: 0px 2px;
}
